* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: -5;
  width: 100%;
  height: 100%;
  background: url("../img/bg-default.jpg") center/cover fixed;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  padding-top: 1rem;
}

.container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu .title {
  text-align: center;
}

.container .menu .title h1 {
  color: white;
  font-size: 2.5rem;
}

.container .menu .lang {
  width: 100%;
}

.container .menu .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.container .menu .lang ul li button {
  border: none;
  background: none;
  height: 100%;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .menu .lang ul li button:hover {
  color: rgba(255, 255, 255, 0.829);
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90vw;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.container .row .column {
  width: 24%;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  margin-bottom: 1rem;
}

.container .row .column:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.container .row .column:hover .preview {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(104, 104, 104, 0.5);
          box-shadow: 5px 5px 20px 5px rgba(104, 104, 104, 0.5);
}

.container .row .column .preview {
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  position: relative;
}

.container .row .column .preview::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url("../img/preview_bg.jpg") center/cover;
}

.container .row .column .preview a {
  display: block;
}

.container .row .column .preview a img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.container .row .column .preview .viewer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.container .row .column .preview .viewer i,
.container .row .column .preview .viewer span {
  font-size: 1.2rem;
}

.container .row .column .preview .viewer i {
  color: #a722a7;
}

.container .row .column .preview .viewer span {
  color: white;
  margin-left: 0.2rem;
}

.container .row .column .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.container .row .column .bottom .avatar {
  width: 15%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.container .row .column .bottom .avatar::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url("../img/avatar-person.svg") center/cover;
}

.container .row .column .bottom .avatar img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.container .row .column .bottom .intro {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .row .column .bottom .intro .channel_name,
.container .row .column .bottom .intro .streamer_name {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.empty {
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
}

@media screen and (max-width: 1201px) {
  .container .row .column {
    width: 32%;
  }
}

@media screen and (max-width: 769px) {
  .container .row .column {
    width: 48%;
  }
}

@media screen and (max-width: 577px) {
  .container .row .column {
    width: 96%;
  }
  .container .menu .lang ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */